extends layouts/main

block content
    div(class="botColumns" id="botColumns")
        div(class="has-text-centered" v-if="bots.length === 0")
            label(class="title") There are no bots in the queue.
        
        div(class="field is-grouped" v-if="bots.length > 0")
            div(class="control")
                input(class="input is-expanded", type="text", value=`${search || ''}`)
            div(class="control")
                a(class="button is-info" id="searchButton") Search

        div(class="columns is-multiline is-mobile")
            div(class="card", style="margin: 1%;" v-for="bot in bots")
                div(class="card-image")
                    img(:src="`https://cdn.discordapp.com/avatars/${bot.bot_id}/${bot.user.avatar}.png?size=4096`")

                div(class="card-content")
                    div(class="media-content")
                        p(class="title is-4") {{bot.user.username}}
                    
                    div(class="content") {{bot.short_description}}
                    
                    footer(class="card-footer")
                        a(class="card-footer-item" @click="viewBot(bot.bot_id)") View
                        a(class="card-footer-item" @click="inviteBot(bot.invite_link)") Invite
                    footer(class="card-footer")
                        a(class="card-footer-item" @click="acceptBot(bot.bot_id)") Accept
                        a(class="card-footer-item" @click="declineBot(bot.bot_id)") Decline

    script.
        new Vue({
            el: "#botColumns",
            data() {
                return {
                    bots: []
                }
            },
            mounted() {
                this.loadBots();
            },
            methods: {
                loadBots() {
                    axios.get("/admin/bots/json").then(res => {
                        this.bots = res.data.bots;
                    });
                },
                viewBot(id) {
                    window.location.href = `/bot/${id}`;
                },
                inviteBot(url) {
                    window.location.href = url;
                },
                acceptBot(id) {
                    axios.get(`/admin/bots/${id}/accept`).then(() => {
                        this.loadBots();
                    });
                },
                declineBot(id) {
                    axios.get(`/admin/bots/${id}/decline`).then(() => {
                        this.loadBots();
                    });
                }
            }
        });

    link(rel="stylesheet", href="/static/css/admin.css")